Szakdolgozat_QKV6OA/Library/PackageCache/com.unity.collections@1.2.4/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport.CodeGen/Unity.Collections.LowLevel.ILSupport.CodeGen.asmdef.meta

Szakdolgozat_QKV6OA/Library/PackageCache/com.unity.collections@1.2.4/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport.CodeGen/Unity.Collections.LowLevel.ILSupport.CodeGen.asmdef

Szakdolgozat_QKV6OA/Library/PackageCache/com.unity.burst@1.8.4/.Runtime/libburst-llvm-14.dylib

Szakdolgozat_QKV6OA/Library/PackageCache/com.unity.2d.animation@10.0.2/Editor/SkinningModule/Lib/x86_64/BoundedBiharmonicWeightsModule.bundle/Contents/_CodeSignature/CodeResources.meta

Szakdolgozat_QKV6OA/Library/PackageCache/com.unity.2d.animation@10.0.2/Editor/SkinningModule/Lib/x86_64/BoundedBiharmonicWeightsModule.bundle/Contents/MacOS/BoundedBiharmonicWeightsModule

Szakdolgozat_QKV6OA/Library/PackageCache/com.unity.2d.animation@10.0.2/Editor/SkinningModule/Lib/x86_64/BoundedBiharmonicWeightsModule.bundle/Contents/MacOS/BoundedBiharmonicWeightsModule.meta