Szakdolgozat_QKV6OA/Library/PackageCache/com.unity.burst@1.8.4/.Runtime/libburst-llvm-14.dylib

Szakdolgozat_QKV6OA/Library/PackageCache/com.unity.collections@1.2.4/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport.CodeGen/Unity.Collections.LowLevel.ILSupport.CodeGen.asmdef

Szakdolgozat_QKV6OA/Library/PackageCache/com.unity.collections@1.2.4/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport.CodeGen/Unity.Collections.LowLevel.ILSupport.CodeGen.asmdef.meta